body{
    background: #EEEBF8;
}
.proflie-student{
    height: 100vh;
}
.block-profile{
    margin: 100px 0;
    width: 1000px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    border: 1px solid black;
}
.change-img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
}
.change-img .dropzone-file{
    border-radius: 100%;
}
.image-student{
    width: 100%;
    height: 180px;
    border-radius: 100px;
    margin: 50px 0;
}
.image-student img{
    width: 180px;
    height: 180px;
}
.content-profile{
    padding: 50px;
}
.content-profile label{
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}
.firstname{
    font-size: 20px;
    color: black;
    width: 850px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.lastname{
    font-size: 20px;
    color: black;
    width: 850px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
.studentid{
    font-size: 20px;
    color: black;
    width: 850px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
.number-phone{
    font-size: 20px;
    color: black;
    width: 850px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
.faculty{
    font-size: 20px;
    color: black;
    width: 850px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
.major{
    font-size: 20px;
    color: black;
    width: 850px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
.email{
    font-size: 20px;
    color: black;
    width: 850px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
.cv{
    width: 850px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
.cv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cv-uploading {
    border: none;
}
.transcript{
    width: 850px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
.transcript img{
    width: 100%;
}
.transcript-uploading {
    border: none;
}
.start-intern{
    font-size: 20px;
    color: black;
    width: 850px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
.end-intern{
    font-size: 20px;
    color: black;
    width: 850px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px
}
.edit{
    width: 200px;
    height: 60px;
    background: #B540FD;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 50px;
}
.react-datepicker__month-container{
    width: 500px;
}
.react-datepicker__header{
    width: 500px;
}
.react-datepicker__header h2{
    font-size: 24px;
}
.react-datepicker__day-names {
    font-size: 20px;
}
.react-datepicker__week{
    width: 100%;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    font-size: 20px;
    margin: 5px 20px !important;
}