.formpdf{
    width: 800px;
    background: #fff;
    margin: 100px 0;
    border-radius: 20px;
}
.Titleform{
    font-size: 28px;
    font-weight: bold;
    color: black;
}
.formpdf label{
    font-size: 18px;
    
}