body{
    background: #EEEBF8;
    font-family: 'Roboto Flex', sans-serif;
}
.bg-main{
    height: 735px;
    background-image: url('../image/bg-main.png');
    background-size: cover;
    background-position: center;
}

.block-main{
    position: relative;
    top: 155px;
    width: 100%;
    height: 580px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.img-work{
    position: relative;
    top: 55px;
    left: 288px;
    width: 500px;
    height: 500px;
}
.left-block{
    width: 50%;
}
.block-content{
    position: relative;
    top: 170px;
    
}
.block-content h1{
    font-size: 40px;
    font-weight: bold;
}
.block-content p{
    margin: 40px 0 50px 0;
    font-size: 20px;
    color: #565156;
}
.block-content input{
    width: 785px;
    height: 60px;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
}
.job-announce{
    width: 100%;
    margin: 100px 0 100px 0;
    padding: 0 300px;
}
.job-announce h1{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
.show-more-job{
    width: 100%;
    margin: 50px 0;
}
.show-more-job button{
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #B540FD;
    border-radius: 20px;
}
.card-job{
    width: 100%;
}
.card{
    width: 980px;
    height: 100%;
    border-radius: 5px;
    background: #F8F8F8;
}
.img-job{
    width: 370px;
    height: 100%;
}
.img-job img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.subtitle-card img{
    width: 20px;
    height: 20px;
}
.subtitle-card h1,p{
   font-size: 18px;
   color: black;
}
.title-card{
    font-size: 24px;
    color: black;
    margin: 20px 0;
}
.subtitle-card{
    width: 560px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #9E00FF;
}
.detail-short{
    width: 560px;
    height: 60px;
    font-size: 18px;
    overflow: hidden;
    line-height: 1.6em;
}
.lo-read button{
    width: 130px;
    height: 40px;
    background: #B540FD;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 10px;
}
.lo-read img{
    width: 30px;
    height: 30px;
}
.name-location{
    font-size: 20px;
    color: black;
}

.card-container{
    margin: 60px 0;
}
.content-card{
    padding: 0 40px;
}
#search{
    width: 500px;
    height: 60px;
    border-radius: 20px;
    font-size: 20px;
}
.pagination-job {
    padding: 100px 0;
}
.page-job {
    padding: 0 20px;
    font-size: 20px;
    text-decoration: none; 
    display: inline-block;
    margin: 0 5px;
    border-radius: 100%; 
    color: #333; 
}

.page-job.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #B540FD;
    border-color: #B540FD; 
    border-radius: 100%;
    height: 35px;
}

.page-job:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B540FD; 
    color: #FFFFFF; 
    border-radius: 100%;
    height: 35px;
}
@media screen and (min-width: 480px) {
    .left-block{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .block-content{
        width: 100%;
    }
    .block-content h1 {
        font-size: 24px;
        text-align: center;
    }
    .block-content input{
        width: 600px;
    }
}

@media screen and (min-width: 1024px) {
    .left-block{
        display: block;
    }
    .job-announce{padding: 0 50px;} 
    .img-work{
        left: 50px;
        width: 400px;
        height: 400px;
    }
    .block-content input{
        width: 500px;
    }
    .block-content h1{
        font-size: 30px;
    }
    .block-content p{
        font-size: 16px;
    }
    .block-main{
        height: 520px;
    }
    .bg-main{
        height: 675px;
    }
    .right-block{
        padding-left: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .img-work {
        left: 100px;
    }
    .block-content {
        right: 50px;
    }
    .bg-main{
        height: 685px;
    }
    .block-main{
        height: 530px;
    }
    .block-content input{
        width: 700px;
    }
    .block-content p{
        font-size: 18px;
    }
    
    .right-block{
        padding-left: 0;
    }
}

@media screen and (min-width: 1440px) {
    .img-work{
        left: 100px;
        height: 500px;
        width: 500px;
    }
    .block-content {
        right: 50px;
    }
    .job-announce{padding: 0 100px;}
    .bg-main{
        height: 735px;
    }
    .block-main{
        height: 580px;
    }
    .block-content input{
        width: 785px;
    }
    .block-content h1{
        font-size: 40px;
    }
}


