body {
    background: #EEEBF8;
    font-family: 'Roboto Flex', sans-serif;
}

.Status-student {
    height: 100vh;
}

.search-intern {
    margin: 50px 150px;
}

.search-intern input {
    width: 500px;
    height: 60px;
    border-radius: 20px;
    font-size: 20px;
    color: black;
}

.status-intern {
    width: 1600px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

/* Table styling */
.table-status {
    width: 100%;
    border-collapse: collapse; /* Ensure no gaps between table borders */
}

.table-status thead {
    background-color: #B540FD;
}

.table-status th, .table-status td {
    font-size: 20px;
    padding: 20px 15px;
    text-align: center;
    border: 1px solid black; /* Add borders around table cells */
}

.table-status th {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 20px 0;
}

/* Pagination */
.pagination-job {
    margin: 20px 0;
}

/* Active page styling */
.page-job.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #B540FD;
    border-color: #B540FD;
    border-radius: 100%;
    height: 35px;
    width: 35px;
}

/* Adjustments for different screen sizes */
@media screen and (min-width: 1280px) {
    .status-intern {
        width: 1300px;
    }
    .table-status th {
        font-size: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .status-intern {
        width: 1500px;
    }
    .table-status th {
        font-size: 24px;
    }
}
