
body{
    font-family: 'Roboto Flex', sans-serif;
}
.Form-pdf{
    width: 100%;
}
.form-box{
    height: 100%;
    width: 800px;
    background: #fff;
    flex-direction: column; 
    padding: 0 60px;
}
.paragraph{
    margin: 20px 0;
    text-align: justify;
    word-spacing: -0.2em;
}
.paragraph span{
    margin-left: 50px;
}
.LogoUP{
    margin-top: 100px;
}
.LogoUP img{    
    width: 180px;
    height: 140px;
    margin-left: 100px;
}
.left-top label{
    margin-right: 10px;
}
.formaddress{
    height: 30px;
    width: 150px;
    border: none;
}
.left-top{
    margin-left: 50px;
    margin-top: 100px;
}
.right-top{ 
    margin-top: 100px;
    padding-left: 50px;
}
.Date{
    margin: 20px 100px;
}
.formdate{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 30px;
    width: 200px;
    border: none;
}
.content-form{
    margin-left: 50px;
    margin-right: 50px;
}
.buttonpdf button{
    margin: 50px 0;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    background: #000;
}

.formname{
    width: 200px;
   height: 30px;
   border: none; 
}
.notice{
    margin-left: 100px;
}
.reason{
    margin-left: 150px;
    margin-bottom: 80px;
}
.name-teacher{
    margin-left: 165px;
    margin-bottom: 50px;
}

.download{
    margin-top: 50px;
}
.download button{
    margin: 0 10px;
    padding: 5px ;
    font-size: 20px;
    background: #A865FF;
    border-radius: 20px;
    color: #fff;
}
.dot{
    color: #fff;
}